# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
/build
/dist

# IDE and editor files
.idea/
.vscode/

# testing and coverage files
/coverage
/test-results.xml
/test-report.html

# environment variables
# .env
# .env.local
# .env.*.local
# .env.development
# .env.production
# .env.test

# misc
.DS_Store
Thumbs.db
*.log
